# Optional: If you already have a bearer token, paste it directly
AUTH_TOKEN=

# Optional: If AUTH_TOKEN is empty, token will be fetched using these values
AUTH_EMAIL=
AUTH_NAME=
AUTH_MOBILE_NO=
AUTH_GITHUB_USERNAME=
AUTH_ROLL_NO=RA2311004010332
AUTH_ACCESS_CODE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=





# my .env file 
# AUTH_EMAIL=ac2848@srmist.edu.in
# AUTH_NAME=AMIT CHAUHAN
# AUTH_MOBILE_NO=8879506104
# AUTH_GITHUB_USERNAME=AmitC04
# AUTH_ROLL_NO=RA2311004010332
# AUTH_ACCESS_CODE=QkbpxH
# AUTH_CLIENT_ID=f2452dc9-3536-4cd2-8533-cedfff53b169
# AUTH_CLIENT_SECRET=hPGnyfGyWhmJUGsq


# AUTH_TOKEN=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhYzI4NDhAc3JtaXN0LmVkdS5pbiIsImV4cCI6MTc3NzcwMDEzMSwiaWF0IjoxNzc3Njk5MjMxLCJpc3MiOiJBZmZvcmQgTWVkaWNhbCBUZWNobm9sb2dpZXMgUHJpdmF0ZSBMaW1pdGVkIiwianRpIjoiYmIzY2UyNGItODc0Yi00ZmZhLWFmN2YtNDg5M2NkNTk1NGY0IiwibG9jYWxlIjoiZW4tSU4iLCJuYW1lIjoiYW1pdCBjaGF1aGFuIiwic3ViIjoiZjI0NTJkYzktMzUzNi00Y2QyLTg1MzMtY2VkZmZmNTNiMTY5In0sImVtYWlsIjoiYWMyODQ4QHNybWlzdC5lZHUuaW4iLCJuYW1lIjoiYW1pdCBjaGF1aGFuIiwicm9sbE5vIjoicmEyMzExMDA0MDEwMzMyIiwiYWNjZXNzQ29kZSI6IlFrYnB4SCIsImNsaWVudElEIjoiZjI0NTJkYzktMzUzNi00Y2QyLTg1MzMtY2VkZmZmNTNiMTY5IiwiY2xpZW50U2VjcmV0IjoiaFBHbnlmR3lXaG1KVUdzcSJ9.-uljm2O88vXJAzGaVWRZNyaAEubOohYRej20q1naHc4
