# Optional: If you already have a bearer token, paste it directly
AUTH_TOKEN=

# Optional: If AUTH_TOKEN is empty, token will be fetched using these values
AUTH_EMAIL=
AUTH_NAME=
AUTH_MOBILE_NO=
AUTH_GITHUB_USERNAME=
AUTH_ROLL_NO=RA2311004010354
AUTH_ACCESS_CODE=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=





# my .env file 
# AUTH_EMAIL=ls2725@srmist.edu.in
# AUTH_NAME=LAKSHITA
# AUTH_MOBILE_NO=9176753404
# AUTH_GITHUB_USERNAME=Lakshita4816
# AUTH_ROLL_NO=RA2311004010354
# AUTH_ACCESS_CODE=QkbpxH
# AUTH_CLIENT_ID=f2452dc9-3536-4cd2-8533-cedfff53b169
# AUTH_CLIENT_SECRET=hPGnyfGyWhmJUGsq


# AUTH_TOKEN=
